.pos-0 a {
	color: #f8f8f8!important;
}
.pos-1 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #890D10!important;
}
.pos-2 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #f4c712!important;
}
.pos-3 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #ff98cb!important;
}
.pos-4 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #027bfe!important;
}
.pos-5 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #670099!important;
}
.pos-6 a {
	background: url(img/cbox/linkback4.gif) repeat;
	color: #006400!important;
}
.pos-pf a {
	background: url(img/cbox/linkback4.gif) repeat;
    color: #dc143c!important;
}
.pos-emp a {
	background: url(img/cbox/linkback4.gif) repeat;
    color: #dc143c!important;
}
.pos-uadj a {
	background: url(img/cbox/linkback4.gif) repeat;
    color: #008080!important;
}    
.pos-iag a {
	background: url(img/cbox/linkback4.gif) repeat;
    color: #dc143c!important;
}
.pos-vip-1 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #8a2be2!important;
}
.pos-vip-2 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #c000c0!important;
}
.pos-vip-3 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #4682B4!important;
}
.pos-vip-4 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #e0400a!important;
}
.pos-vip-5 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #fe7878!important;
}
.pos-vip-6 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #ff69ff!important;
}
.pos-vip-7 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #dc143c!important;
}
.pos-vip-8 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #ffff00!important;
}
.pos-vip-9 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #bc95b8!important;
}
.pos-vip-10 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #4682B4!important;
}
.pos-partner-1 a {
	background: url(img/cbox/linkback3.gif) repeat;
	color: #419600!important;
}